body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    background-color: #008CBA;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  nav {
    background-color: rgba(233, 222, 245, 0.886);
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: flex;
    flex-direction: column;
    padding: .8rem 2vw;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.5)  ;
}
ul li a:hover{
    background-color: rgba(0, 0 ,0, 0.3);
}
.filmbtn{
    align-self: hover;

}