.highlight {
    color: white;
    background-color: black;
    padding: 10px;
    width: 250px;
    text-align: center;
  }
body{
    display: list-item;
}  
button{
  text-align: center;
  text-decoration-color: aquamarine;
  text-decoration: none;
}